:root {
  --wfpink: #f8baca;
}

cart-item {
  background-color: var(--wfpink);
  border-radius: 15px;
  margin: 5px;
  padding: 15px;
}

product-tile {
  display: inline-flex;
  flex-direction: column;
  background-color: var(--wfpink);
  border-radius: 15px;
  padding: 10px;
}

product-tile img {
  background: silver;
  aspect-ratio: 300 / 460;
  animation: waver 2s infinite;
}

product-tile img._loaded {
  animation: none;
}

collection-products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}