:root {
  --wfpink: #f8baca;
  --skelly_colour: silver;
}

cart-item {
  background-color: var(--wfpink);
  border-radius: 15px;
  margin: 5px;
  padding: 15px;
}

product-tile {
  display: inline-flex;
  flex-direction: column;
  background-color: var(--wfpink);
  border-radius: 15px;
  padding: 10px;
  --skelly_colour: white;
}

img._product_image_skelly {
  background: var(--skelly_colour);
  aspect-ratio: 300 / 460;
  animation: waver 2s infinite;
}

img._product_image_skelly._loaded {
  animation: none;
}

product-modal-content {
  display: block;
  max-width: 300px;
}

buy-button {
  margin: 0 auto;
}

/* 
collection-products product-tile {
  --animation_delay_increment: 20ms;
  animation: dunk_in 500ms ease-out both;
  animation-delay: calc(var(--index) * var(--animation_delay_increment));
} 
*/