{% paginate collection.products by 50 %}
  <collection-products>
    {% for product in collection.products %}
      {% render 'product_tile', product: product %}
    {% endfor %}
    <button data-ref="loadMoreButton">load more</button>
  </collection-products>

  {{ paginate | default_pagination }}
{% endpaginate %}

{% schema %}
  {
    "name": "Collection",
    "settings": []
  }
{% endschema %}
