{% paginate collection.products by settings.collection_products_per_page %}
  <collection-display>
    <collection-products>
      {% for product in collection.products %}
        {% render 'product_tile', product: product %}
      {% endfor %}
    </collection-products>
    <button data-ref="loadMoreButton">load more</button>
    {{ paginate | default_pagination }}
  </collection-display>
{% endpaginate %}

{% schema %}
  {
    "name": "Collection",
    "settings": []
  }
{% endschema %}
