{ "name": {{- shop.name | json -}}, "currency": {{- shop.currency | json -}} }

<a href="{{ routes.all_products_collection_url }}">All Products</a>

{% schema %}
  {
    "name": "Index",
    "settings": []
  }
{% endschema %}