<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {%- capture captive_content_for_header -%}{{ content_for_header }}{%- endcapture -%}
    <link rel="stylesheet" href="{{ 'main.css' | asset_url }}">
  </head>
  <body>
    {% render 'custom_modal', id: 'exampleModal', content: 'Holy smokes!' %}
    <button onclick="document.getElementById('exampleModal').showModal()">Open Modal</button>
    {% render 'lit_example' %}
    {{ content_for_layout }}
    {% render 'js_translations' %}
    {% render 'js_settings' %}
    <script type="module" src="{{ 'main.js' | asset_url }}"></script>
  </body>
</html>
